* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.section {
  background: #2a9d8f;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 42px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 20px;
  gap: 20px;
}

.box {
  background: #264653;
  padding: 20px;
}
.section-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section-1 .box {
  text-align: center;
}

.section-2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.section-3 {
  display: flex;
  flex-direction: column-reverse;
}

.section-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-5 {
  justify-content: center;
  align-items: center;
}
